{% extends "dashboard.html" %}
{% load staticfiles %}
{% block title %}Git Hub Active PRs {% endblock %}

{% block content %}
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Active PR List</h1>

        <p>Select a PR below to see it's runs, and from there see task output</p>
      </div>


      <div class="page-header">
        <h1>PRs</h1>
      </div>
      <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>PR Number</th>
                <th>Current Commit</th>
		<th>WIP</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
	      {% for pr in prs %}
              <tr>
                <td>{{pr.number}}</td>
                <td>{{pr.current_commit_head}}</td>
                <td>{{pr.wip}}</td>
                <td><a href="{% url 'pull_requests.views.pr_detail' pr.number %}" {% if "passed" in pr.status %}class="btn btn-success">Passed
		    {% elif "failed" in pr.status %}class="btn btn-danger">Failed - {{pr.status}}
		    {% elif "invalid" in pr.status %}class="btn btn-info">Invalid
		    {% elif "pending" in pr.status %}class="btn btn-warning">Pending
		    {% endif %}</a>
                {% if not pr.wip and pr.retest_available %}
                <a href="{% url 'pull_requests.views.retest' pr.number %}" class="btn btn-info">Retest</a>
                {% endif %}
		</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>

    </div> <!-- /container -->
{% endblock %}
