{% extends "dashboard.html" %}
{% load staticfiles %}
{% block title %}PR {{pr.number}}{% endblock %}

{% block content %}
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>{{pr.number}}</h1>

        <p>{{pr.description}}</p>
        <p><a href="https://github.com/RedHatQE/cfme_tests/pull/{{pr.number}}" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>


      <div class="page-header">
        <h1>Runs</h1>
      </div>
      <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Run ID</th>
                <th>Date</th>
		<th>Commit</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
	      {% for run in pr.reverse_run_set.all %}
              <tr>
                <td>{{run.id}}</td>
                <td>{{run.datestamp}}</td>
                <td>{{run.commit}}</td>
                <td><a href="{% url 'pull_requests.views.run_detail' run.id %}" {% if "passed" in run.status %}class="btn btn-success">Passed
		    {% elif "failed" in run.status %}class="btn btn-danger">Failed - {{run.status}}
		    {% elif "invalid" in run.status %}class="btn btn-info">Invalid
		    {% elif "pending" in run.status %}class="btn btn-warning">Pending
		    {% endif %}</a>
		</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>

    </div> <!-- /container -->
{% endblock %}
