{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Run {{run.id}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css"%}">


    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PR Tester</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'pull_requests.views.index' %}">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Run {{run.id}} for PR {{run.pr.number}}</h1>

        <p>{{run.pr.description}}</p>
        <p><a href="https://github.com/RedHatQE/cfme_tests/pull/{{run.pr.number}}" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>


      <div class="page-header">
        <h1>Tasks</h1>
      </div>
      <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Task ID</th>
                <th>Date</th>
		<th>Stream</th>
                <th>Template</th>
                <th>Provider</th>
                <th>VM Name</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
	      {% for task in run.task_set.all %}
              <tr>
                <td><a href="http://{{ artifact_ip }}/{{task.tid}}/">{{task.tid}}</a></td>
                <td>{{task.datestamp}}</td>
                <td>{{task.stream}}</td>
                <td>{{task.template}}</td>
                <td>{{task.provider}}</td>
                <td>{{task.vm_name}}</td>
                <td><a href="#{{task.tid}}" {% if "passed" in task.result %}class="btn btn-success">Passed
		    {% elif "failed" in task.result %}class="btn btn-danger">Failed
		    {% elif "invalid" in task.result %}class="btn btn-info">Invalid
		    {% elif "pending" in task.result %}class="btn btn-warning">Pending
		    {% endif %}</a>
		</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="page-header">
        <h1>Task Output</h1>
      </div>
 {% for task in run.task_set.all %}
      <div class="jumbotron" style="padding: 20px;margin: 10px;">
	<h2>{{task.tid}}</h2><a name="{{task.tid}}"></a>
	  <pre>{{task.output}}</pre>
      </div>
 {% endfor %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
