{% extends "dashboard.html" %}
{% load staticfiles %}
{% block title %}Run {{run.id}}{% endblock %}

{% block content %}

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Run {{run.id}} for PR {{run.pr.number}}</h1>

        <p>{{run.pr.description}}</p>
        <p><a href="https://github.com/RedHatQE/cfme_tests/pull/{{run.pr.number}}" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>


      <div class="page-header">
        <h1>Tasks</h1>
      </div>
      <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Task ID</th>
                <th>Date</th>
		<th>Stream</th>
                <th>Template</th>
                <th>Provider</th>
                <th>VM Name</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
	      {% for task in run.task_set.all %}
              <tr>
                <td><a href="http://{{ artifact_ip }}/{{task.tid}}/">{{task.tid}}</a></td>
                <td>{{task.datestamp}}</td>
                <td>{{task.stream}}</td>
                <td>{{task.template}}</td>
                <td>{{task.provider}}</td>
                <td>{{task.vm_name}}</td>
                <td><a href="#{{task.tid}}" {% if "passed" in task.result %}class="btn btn-success">Passed
		    {% elif "failed" in task.result %}class="btn btn-danger">Failed
		    {% elif "invalid" in task.result %}class="btn btn-info">Invalid
		    {% elif "pending" in task.result %}class="btn btn-warning">Pending
		    {% endif %}</a>
		</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="page-header">
        <h1>Task Output</h1>
      </div>
 {% for task in run.task_set.all %}
      <div class="jumbotron" style="padding: 20px;margin: 10px;">
	<h2>{{task.tid}}</h2><a name="{{task.tid}}"></a>
	  <pre>{{task.output}}</pre>
      </div>
 {% endfor %}
    </div> <!-- /container -->
{% endblock %}
