{% load staticfiles %}
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}/>
  <link rel="stylesheet" href={% static 'css/patternfly.min.css' %}/>
  <script src={% static "js/jquery-2.1.1.js" %}></script>
  <script src={% static "js/bootstrap.min.js" %}></script>
  <script src={% static "js/patternfly.min.js" %}></script>
  <script src={% static "js/flot/jquery.flot.js" %}></script>
  <script src={% static "js/hubber.js" %}></script>
  <script>
  // Inject django template values into JS here
  base_url = '{{ base_url }}'
  jenkins_url = '{{ jenkins_url }}'
  sauce_proxy = '{% url "dashboard.views.sauce_proxy" "" %}'
  </script>
</head>

<body>
  <nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
      <img src={% static "img/brand-hubber.png" %} class="navbar-brand">
      <h2 class='navbar-text'>The CFME-QE Dashboard</h2>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-21">
      <ul class="nav navbar-nav navbar-primary">
        <li id="tab_home">
          <a href="{% url 'dashboard.views.home' %}">Home</a>
        </li>
        <li id="tab_retest">
          <a href="{% url 'dashboard.views.retest' %}">Retest Templates</a>
        </li>
        <li id="tab_prt">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">PR Tester</a>
          <ul class="dropdown-menu">
            <li><a href="#">Pull Requests</a>
            </li>
            <li><a href="#">Runs</a>
            </li>
          </ul>
        </li>
        </li>
      </ul>
    </div>
  </nav>
  <p></p>
  {% block content %}{% endblock %}
  {% block body-script %}{% endblock %}
</body>

</html>
